body {
  font-family: 'Poppins';
  font-weight: 300;
  color: #9c9c9c;
  background-color: #0d0d11;
}

body._lock {
  overflow: hidden;
}

:root {
  --animation-time: cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

[class*='__container'] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.text {
  line-height: 1.5;
  color: #81818b;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(13, 13, 17, 0.522);
}

.header__container {
  display: flex;
  column-gap: 35px;
  align-items: center;
  min-height: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 991.98px) {
  .header__container {
    column-gap: 25px;
    min-height: 70px;
  }
}

@media (max-width: 767.98px) {
  .header__container {
    column-gap: 15px;
  }
}

.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 5;
}

@media (max-width: 560px) {
  .header__logo {
    flex: 0 0 32px;
    width: 32px;
    overflow: hidden;
  }
}

.header__logo::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: 300ms var(--animation-time);
  bottom: -3px;
  transform: scaleX(0);
}

.header__logo:hover::after {
  transform: scaleX(1);
}

.header__menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 35px;
  row-gap: 3px;
}

@media (max-width: 991.98px) {
  .menu__list {
    column-gap: 25px;
  }
}

@media (max-width: 767.98px) {
  .menu__list {
    display: grid;
    column-gap: 15px;
    padding: 60px 0px;
  }
}

.menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.62;
  color: #ffffff;
  position: relative;
}

@media (min-width: 768px) {
  .menu__link::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: 300ms var(--animation-time);
    bottom: 3px;
  }
  .menu__link:hover::after {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .menu__link {
    padding: 20px 80px 20px 30px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

@media (max-width: 559.98px) {
  .header__cart {
    position: relative;
  }
}

.cart-header {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-header::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: 300ms var(--animation-time);
  bottom: 3px;
}

.cart-header:hover::after {
  width: 60%;
}

.cart-header__text {
  font-size: 18px;
  line-height: 1.55;
}

@media (max-width: 560px) {
  .cart-header__text {
    display: none;
  }
}

.cart-header__quantity {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 559.98px) {
  .cart-header__quantity::before {
    background: url(../img/lnr-cart.svg);
    width: 45px;
    height: 45px;
    content: '';
    position: absolute;
    left: 50%;
    top: 59%;
    border-radius: 0;
    transform: translate(-50%, -41%);
  }
}

@media (min-width: 560px) {
  .cart-header__quantity {
    background: rgba(129, 129, 139, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__button {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.57;
  /* 22/14 */
  flex: 0 0 auto;
}

@media (max-width: 559.98px) {
  .header__button {
    margin-left: 10px;
  }
}

.button {
  display: inline-block;
  text-align: center;
  background-color: #3d96f4;
  border-radius: 50px;
  padding: 16px 30px;
  transition: background-color 350ms var(--animation-time);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.45;
  /* 22/14 */
  letter-spacing: 2px;
}

.button:hover {
  background-color: #6cacf0;
}

@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #303640;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: '';
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #303640;
    z-index: 2;
    transition: left 0.3s ease 0s;
  }
  .menu__list {
    position: relative;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 15%;
    border: 1px solid transparent;
    box-shadow: inset 0px 0px 15px 0px transparent;
  }
  .loaded .menu__list {
    border: 1px solid rgba(225, 225, 225, 0.05);
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  }
  .menu__item {
    position: relative;
    overflow: hidden;
    transition: color 0.8s ease 0s;
  }
  .menu__item:hover,
  .menu__item._active {
    color: #fff;
  }
  .loaded .menu__item:nth-child(1) .menu__link {
    transition-delay: 0.2s;
  }
  .loaded .menu__item:nth-child(2) .menu__link {
    transition-delay: 0.4s;
  }
  .loaded .menu__item:nth-child(3) .menu__link {
    transition-delay: 0.6s;
  }
  .loaded .menu__item:nth-child(4) .menu__link {
    transition-delay: 0.8s;
  }
  .menu__active {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 100%;
    transform: translate(-100%, 0px);
  }
  .menu__active span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
    border-radius: 0 5px 5px 0;
  }
  .loaded .menu__active {
    transform: translate(0, 0px);
    transition: transform 0.5s ease 2s;
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }
  .menu__link {
    font-size: 32px;
  }
}

@media (min-width: 767.99px) {
  .icon-menu {
    display: none;
  }
}

.main {
  padding-top: 160px;
  padding-bottom: 50px;
}

@media (max-width: 991.98px) {
  .main {
    padding-top: 120px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .main {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

.main__container {
  display: flex;
  gap: 32px;
}

@media (max-width: 767.98px) {
  .main__container {
    flex-direction: column;
  }
}

.main__content {
  flex: 0 1 50%;
  align-self: center;
}

.hero-main__title {
  font-size: 51px;
  line-height: 1.19;
  /* 61/51 */
  font-weight: 500;
  color: #ffffff;
}

.hero-main__title:not(:last-child) {
  margin-bottom: 28px;
}

@media (max-width: 991.98px) {
  .hero-main__title {
    font-size: 44px;
  }
}

@media (max-width: 767.98px) {
  .hero-main__title {
    font-size: 32px;
  }
  .hero-main__title:not(:last-child) {
    margin-bottom: 15px;
  }
}

.main__hero {
  position: relative;
}

.main__hero::before {
  content: '';
  background: url(../img/decor.svg);
  width: 122px;
  height: 122px;
  position: absolute;
  top: -18px;
  left: -32px;
}

.hero-main__text {
  font-size: 18px;
  line-height: 1.5;
  /* 27/18 */
  color: #9c9c9c;
}

.hero-main__text:not(:last-child) {
  margin-bottom: 33px;
}

@media (max-width: 767.98px) {
  .hero-main__text:not(:last-child) {
    margin-bottom: 15px;
  }
}

.hero-main__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 15px;
}

@media (max-width: 479.98px) {
  .hero-main__actions {
    display: flex;
    flex-direction: column;
  }
}

.button {
  color: #ffffff;
}

.main__button {
  font-size: 14px;
  line-height: 1.57;
  /* 22/14 */
  color: #ffffff;
}

.button_dark {
  background-color: rgba(129, 129, 139, 0.2);
}

.button_dark:hover {
  background-color: rgba(129, 129, 139, 0.4);
}

@media (min-width: 768px) {
  .hero-main__title {
    max-width: 520px;
  }
  .hero-main__text {
    max-width: 500px;
  }
}

.main__images {
  flex: 0 1 50%;
}

.images-main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.images-main {
  display: flex;
  justify-content: center;
  gap: 9.615385%;
  /* 60/624 */
}

.images-main__item {
  border-radius: 50% / 29%;
  overflow: hidden;
}

.images-main__item_1,
.images-main__item_4 {
  border-radius: 50% / 29%;
}

.images-main__item_2 {
  border-radius: 50% 50% 0 50%;
}

.images-main__item_3 {
  border-radius: 50% 0 50% 50%;
}

.images-main__item img {
  width: 100%;
  transform: scale(1.01);
}

.clients {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991.98px) {
  .clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.clients__title {
  font-size: 14px;
  line-height: 1.57;
  /* 22/14 */
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

@media (max-width: 559.98px) {
  .clients__items {
    flex-direction: column;
    align-items: center;
  }
}

.services {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991.98px) {
  .services {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .services {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.services__container {
  display: flex;
  gap: 32px;
}

@media (max-width: 1100px) {
  .services__container {
    flex-direction: column;
  }
}

.services__content {
  flex: 0 1 50%;
  align-self: center;
}

@media (max-width: 1110px) {
  .services__hero .hero-main__title,
  .services__hero .hero-main__text {
    max-width: none;
  }
}

.hero-main__label {
  display: inline-block;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 11px 19px;
  color: #9c9c9c;
  transition: border 0.3s ease 0s;
}

.hero-main__label:not(:last-child) {
  margin-bottom: 19px;
}

.hero-main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.4);
}

.services__items {
  display: flex;
  flex: 0 1 50%;
  justify-content: center;
  gap: 32px;
}

@media (max-width: 620px) {
  .services__items {
    flex-direction: column;
  }
}

.services__column:first-child {
  margin-top: 48px;
}

@media (max-width: 620px) {
  .services__column:first-child {
    margin-top: 0;
  }
}

.services__item:not(:last-child) {
  margin-bottom: 32px;
}

.item-service {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
}

.item-service__icon:not(:last-child) {
  margin-bottom: 16px;
}

.item-service__title {
  font-size: 19px;
  line-height: 1.42;
  /* 27/19 */
  font-weight: 400;
  color: #ffffff;
}

.item-service__title:not(:last-child) {
  margin-bottom: 10px;
}

.why {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991.98px) {
  .why {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .why {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.why__container {
  display: flex;
  column-gap: 64px;
  row-gap: 32px;
}

@media (max-width: 767.98px) {
  .why__container {
    flex-direction: column-reverse;
  }
}

.why__images {
  flex: 0 1 50%;
}

.images-why {
  display: flex;
  position: relative;
  align-self: flex-end;
}

.images-why::before {
  content: '';
  background: url(../img/decor.svg);
  width: 122px;
  height: 122px;
  position: absolute;
  bottom: -1px;
  left: -5px;
}

.images-why__item {
  overflow: hidden;
  z-index: 9;
}

.images-why__item img {
  max-width: 100%;
  transform: scale(1.01);
}

.images-why__item_1 {
  border-radius: 90% 0 49% 49% / 50% 0 31% 31%;
}

.images-why__item_2 {
  align-self: flex-end;
  border-radius: 50% 50% 50% 0;
}

.why__content {
  flex: 0 1 50%;
  align-self: center;
}

.why-main__list li {
  position: relative;
  min-height: 32px;
  padding-left: 40px;
  padding-top: 4px;
  color: #9c9c9c;
  line-height: 1.5;
  /* 24/16 */
}

.why-main__list li:not(:last-child) {
  margin-bottom: 16px;
}

.why-main__list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(129, 129, 139, 0.1) url(../img/check.svg) center no-repeat;
}

.advantages {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991.98px) {
  .advantages {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.advantages__container {
  display: flex;
  row-gap: 32px;
}

@media (max-width: 991.98px) {
  .advantages__container {
    flex-direction: column;
  }
}

.advantages__items {
  flex: 1 1 auto;
  padding-right: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}

@media (max-width: 650px) {
  .advantages__items {
    grid-template-columns: auto;
  }
}

@media (max-width: 991.98px) {
  .advantages__items {
    padding-right: 0;
  }
}

.advantages__item {
  padding: 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}

.advantages__value {
  font-size: 51px;
  font-weight: 500;
  color: #ffffff;
}

.advantages__value:not(:last-child) {
  margin-bottom: 32px;
}

.advantages__text {
  font-size: 18px;
  line-height: 1.5;
  /* 27/18 */
}

.advantages__image {
  align-self: flex-end;
  flex: 0 0 38%;
  overflow: hidden;
  border-radius: 0 71% 65% 60% / 0 69% 53% 54%;
}

@media (max-width: 991.98px) {
  .advantages__image {
    align-self: center;
  }
}

.advantages__image img {
  max-width: 100%;
  transform: scale(1.01);
}

.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991.98px) {
  .testimonials {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.testimonials__hero {
  margin-bottom: 64px;
}

@media (max-width: 991.98px) {
  .testimonials__hero {
    margin-bottom: 40px;
  }
}

.hero-main__body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hero-main__body .hero-main__text {
  margin: 0;
}

@media (max-width: 767.98px) {
  .hero-main__body {
    flex-direction: column;
  }
}

.hero-main__body .hero-main__actions {
  align-self: flex-end;
  flex: 0 0 auto;
}

@media (max-width: 767.98px) {
  .hero-main__body .hero-main__actions {
    align-self: flex-start;
  }
}

.hero-main__body .hero-main__title {
  max-width: none;
}

.hero-main__body .hero-main__text {
  max-width: 740px;
}

.testimonials__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

@media (max-width: 1110px) {
  .testimonials__items {
    grid-template-columns: auto;
  }
}

.item-testimonial {
  padding: 64px 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 767.98px) {
  .item-testimonial {
    padding: 30px 15px;
  }
}

.user-testimonial {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-testimonial__avatar {
  flex: 0 0 68px;
  overflow: hidden;
}

.user-testimonial__avatar img {
  max-width: 100%;
  transform: scale(1.02);
}

.user-testimonial__avatar_1 {
  border-radius: 0 50% 50% 50%;
}

.user-testimonial__avatar_2 {
  border-radius: 50% 0 50% 50%;
}

.user-testimonial__avatar_3 {
  border-radius: 50% 50% 0 50%;
}

.user-testimonial__title {
  font-size: 16px;
  line-height: 1.5;
  /* 24/16 */
  color: #ffffff;
}

.user-testimonial__title:not(:last-child) {
  margin-bottom: 7px;
}

.user-testimonial__company {
  font-size: 14px;
  line-height: 1.57;
  /* 22/14 */
}

.item-testimonial__title {
  font-size: 32px;
  line-height: 1.4;
  /* 45/32 */
  color: #ffffff;
}

.item-testimonial__text {
  flex: 1 1 auto;
  font-size: 16px;
  line-height: 1.5;
  /* 24/16 */
}

.item-testimonial__rating {
  height: 18px;
  width: 100px;
}

.blog {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991.98px) {
  .blog {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .blog {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.blog__hero {
  margin-bottom: 64px;
}

@media (max-width: 991.98px) {
  .blog__hero {
    margin-bottom: 32px;
  }
}

@media (max-width: 767.98px) {
  .blog__hero {
    margin-bottom: 25px;
  }
}

.blog__items {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1100px) {
  .blog__items {
    gap: 20px;
  }
}

@media (max-width: 991.98px) {
  .blog__items {
    grid-template-columns: auto;
  }
}

.item-blog {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.item-blog__hero {
  position: relative;
}

.item-blog__category {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  font-size: 14px;
  line-height: 1.57;
  /* 22/14 */
  padding: 10px;
  color: #fff;
}

.item-blog__image {
  display: block;
  position: relative;
  padding-bottom: 49.238579%;
  /* 194/394 */
}

.item-blog__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-blog__body {
  padding: 26px 26px;
}

@media (max-width: 1100px) {
  .item-blog__body {
    padding: 25px 15px;
  }
}

.item-blog__date {
  font-size: 16px;
  line-height: 1.5;
  /* 24/16 */
}

.item-blog__date:not(:last-child) {
  margin-bottom: 20px;
}

.item-blogl__title {
  font-size: 19px;
  line-height: 1.42;
  /* 27/19 */
  color: #fff;
}

.item-blogl__title:not(:last-child) {
  margin-bottom: 30px;
}

.item-blogl__title:hover {
  text-decoration: underline;
}

.item-blog__text:not(:last-child) {
  margin-bottom: 22px;
}

.item-blog__link {
  color: #3d96f4;
}

.item-blog__link:hover {
  text-decoration: underline;
}

.start {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991.98px) {
  .start {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .start {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page__start {
  margin-bottom: 20px;
}

@media (max-width: 991.98px) {
  .page__start {
    margin-bottom: 40px;
  }
}

@media (max-width: 479.98px) {
  .page__start {
    margin-bottom: 1px;
  }
}

.start__body {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 50px 40px;
}

@media (max-width: 991.98px) {
  .start__body {
    flex-direction: column;
    row-gap: 30px;
    align-items: stretch;
  }
}

.start__column {
  flex: 0 1 50%;
  text-align: center;
}

.start__title {
  font-size: 32px;
  line-height: 1.4;
  /* 45/32 */
  font-weight: 400;
  color: #ffffff;
}

.start__title:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 991.98px) {
  .start__title {
    font-size: 24px;
  }
}

.start__text {
  max-width: 340px;
  display: inline-block;
}

.start__actions {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  row-gap: 20px;
}

@media (max-width: 479.98px) {
  .start__actions {
    flex-direction: column;
  }
}

.footer__main {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 767.98px) {
  .footer__main {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.main-footer__container {
  display: grid;
  gap: 64px;
  grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}

@media (max-width: 1100px) {
  .main-footer__container {
    gap: 45px;
    grid-template-columns: minmax(auto, 378px) auto auto;
  }
}

@media (max-width: 767.98px) {
  .main-footer__container {
    gap: 35px;
    grid-template-columns: auto auto;
  }
}

.main-footer__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1100px) {
  .main-footer__column:nth-child(1) {
    grid-column: span 3;
  }
}

@media (max-width: 767.98px) {
  .main-footer__column:nth-child(1) {
    grid-column: span 2;
  }
  .main-footer__column:nth-child(4) {
    grid-column: span 2;
  }
}

.main-footer__logo {
  position: relative;
}

.main-footer__logo::after {
  content: '';
  position: absolute;
  display: block;
  width: 37%;
  height: 3px;
  background-color: #ffffff;
  transition: 300ms var(--animation-time);
  bottom: -3px;
  transform: scaleX(0);
}

.main-footer__logo:hover::after {
  transform: scaleX(1);
}

.social {
  display: flex;
  gap: 16px;
}

.social__link {
  flex: 0 0 36px;
  height: 36px;
  border: 1px solid rgba(129, 129, 139, 0.9);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 350ms var(--animation-time);
}

.social__link:hover {
  border: 1px solid #e1e1e1;
}

.social__svg {
  fill: #9c9c9c;
}

.main-footer__lable {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  /* 24/20 */
  font-weight: 500;
}

.menu-footer__list {
  display: grid;
  gap: 24px;
}

.menu-footer__link {
  line-height: 1.4;
  transition: color 350ms var(--animation-time);
}

.menu-footer__link:hover {
  color: #fff;
}

.subscribe {
  display: flex;
  gap: 16px;
  margin-top: 35px;
}

@media (max-width: 479.98px) {
  .subscribe {
    flex-direction: column;
  }
}

.subscribe__input {
  width: 100%;
  height: 52px;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  padding: 0 30px;
  color: #fff;
  background-color: transparent;
}

.subscribe__input::placeholder {
  color: #999999;
}

.bottom-footer {
  border-top: 1px solid rgba(129, 129, 139, 0.2);
  padding-bottom: 40px;
  padding-top: 40px;
}

@media (max-width: 767.98px) {
  .bottom-footer {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.bottom-footer__copy {
  text-align: center;
  color: #9c9c9c;
}
/*# sourceMappingURL=main.css.map */