.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(13, 13, 17, 0.522);
}

.header__container {
  display: flex;
  column-gap: 35px;
  align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;

  @media (max-width: 991.98px) {
    column-gap: 25px;
    min-height: 90px;
  }

  @media (max-width: 767.98px) {
    column-gap: 15px;
  }
}

.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 5;
}

.header__logo {
  @media (max-width: 560px) {
    flex: 0 0 32px;
    width: 32px;
    overflow: hidden;
  }
}

.header__menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 35px;
  row-gap: 3px;

  @media (max-width: 991.98px) {
    column-gap: 25px;
  }

  @media (max-width: 767.98px) {
    column-gap: 15px;
  }
}

.menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.62;
  color: #ffffff;

  &:hover {
    text-decoration: underline;
  }
}

.header__cart {
  @media (max-width: 559.98px) {
    position: relative;
  }
}

.cart-header {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover .cart-header__text {
    text-decoration: underline;
  }
}

.cart-header__text {
  font-size: 18px;
  line-height: 1.55;

  @media (max-width: 560px) {
    display: none;
  }
}

.cart-header__quantity {
  font-size: 14px;
  font-weight: 500;

  @media (max-width: 558px) {
    background-image: url(../../img/basket.svg);
  }

  // @media (max-width: 559.98px) {
  //   position: absolute;
  //   left: 47%;
  //   top: 57%;
  //   transform: translate(-50%, -43%);
  // }

  @media (min-width: 560px) {
    background: rgba(129, 129, 139, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// .basket__wrap {
//   @media (min-width: 560px) {
//     display: none;
//   }
// }

// .basket__svg {
//   fill: #607d8b;
// }

.header__button {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.57; /* 22/14 */
  flex: 0 0 auto;
}

.button {
  display: inline-block;
  text-align: center;

  background-color: #3d96f4;
  border-radius: 50px;
  padding: 16px 30px;
  transition: background-color 350ms var(--animation-time);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.45; /* 22/14 */
  letter-spacing: 2px;

  &:hover {
    background-color: #5ba1ec;
  }

  @media (max-width: 991.98px) {
    padding: 14px 20px;
  }
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #000;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #000;
    z-index: 2;
    transition: left 0.3s ease 0s;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }

  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .menu__link {
    font-size: 32px;
  }
}

@media (min-width: 767.99px) {
  .icon-menu {
    display: none;
  }
}
