.main {
  padding-top: 160px;
  padding-bottom: 100px;

  @media (max-width: 991.98px) {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  @media (max-width: 767.98px) {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

.main__container {
  display: flex;
  gap: 32px;

  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}

.main__content {
  flex: 0 1 50%;
  align-self: center;
}

.hero-main__title {
  font-size: 51px;
  line-height: 1.19; /* 61/51 */
  font-weight: 500;

  color: #ffffff;
  &:not(:last-child) {
    margin-bottom: 28px;
  }

  @media (max-width: 991.98px) {
    font-size: 44px;
  }

  @media (max-width: 767.98px) {
    font-size: 32px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.main__hero {
  position: relative;
}

.main__hero::before {
  content: "";
  background: url(/img/decor.svg);
  width: 122px;
  height: 122px;
  position: absolute;
  top: -18px;
  left: -32px;
}

.hero-main__text {
  font-size: 18px;
  line-height: 1.5; /* 27/18 */
  color: #9c9c9c;

  &:not(:last-child) {
    margin-bottom: 33px;
  }

  @media (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.hero-main__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 15px;

  @media (max-width: 479.98px) {
    display: flex;
    flex-direction: column;
  }
}

.hero-main__button {
  color: #ffffff;
}

.main__button {
  font-size: 14px;
  line-height: 1.57; /* 22/14 */
  color: #ffffff;
}

.button_dark {
  background-color: rgba(129, 129, 139, 0.2);

  &:hover {
    background-color: rgba(129, 129, 139, 0.4);
  }
}

@media (min-width: 768px) {
  .hero-main__title {
    max-width: 520px;
  }
  .hero-main__text {
    max-width: 500;
  }
}

.main__images {
  flex: 0 1 50%;
}

.images-main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.images-main {
  display: flex;
  justify-content: center;
  gap: 9.615385%; /* 60/624 */
}

.images-main__item {
  border-radius: 50% / 29%;
  overflow: hidden;
}

.images-main__item_1,
.images-main__item_4 {
  border-radius: 50% / 29%;
}

.images-main__item_2 {
  border-radius: 50% 50% 0 50%;
}

.images-main__item_3 {
  border-radius: 50% 0 50% 50%;
}

.images-main__item img {
  width: 100%;
}
